openapi: 3.2.0
info:
  title: Xiaoman (OKKI CRM) Devops相关 API
  description: 'Split by tag from the aggregated Xiaoman / OKKI CRM Open API (小满科技, an Alibaba company), assembled verbatim from the per-operation OpenAPI 3.0.1 fragments published on the provider''s developer documentation site at https://open.xiaoman.cn (Apifox-hosted; each operation page embeds its own OpenAPI fragment, harvested from the .md endpoints listed in https://open.xiaoman.cn/llms.txt). OAuth2 module-scoped Bearer tokens from POST /v1/oauth2/access_token; responses use a {code, message, now, data} envelope. Corrected 2026-08-13: the tag-split pass had stamped this document with the OKKI Go title, description and server host; its operations belong to the OKKI CRM Open API on https://api-sandbox.xiaoman.cn, the host the quick-start doc labels 正式域名 (production domain).'
  version: 1.0.0
  x-generated: '2026-08-13'
  x-method: harvested
  x-source: https://open.xiaoman.cn/llms.txt
servers:
- url: https://api-sandbox.xiaoman.cn
  description: OKKI CRM Open API host (quick-start doc labels this 正式域名 / production domain)
tags:
- name: devops相关
paths:
  /v1/dingtalk/webhook:
    post:
      summary: 钉钉回调
      deprecated: false
      description: ''
      tags:
      - devops相关
      parameters:
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: devops相关
      x-apifox-status: released
      x-run-in-apifox: https://open.xiaoman.cn/web/project/345096/apis/api-3496683-run
      externalDocs:
        url: https://open.xiaoman.cn/api-3496683
        description: Published operation doc (Apifox)
  /v1/tapd/webhook:
    get:
      summary: tapd回调接口
      deprecated: false
      description: ''
      tags:
      - devops相关
      parameters:
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: devops相关
      x-apifox-status: released
      x-run-in-apifox: https://open.xiaoman.cn/web/project/345096/apis/api-3496684-run
      externalDocs:
        url: https://open.xiaoman.cn/api-3496684
        description: Published operation doc (Apifox)
  /api/internal/sobot/getsobottoken:
    get:
      summary: 获取智齿token
      deprecated: false
      description: ''
      tags:
      - devops相关
      parameters:
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: devops相关
      x-apifox-status: released
      x-run-in-apifox: https://open.xiaoman.cn/web/project/345096/apis/api-3496685-run
      externalDocs:
        url: https://open.xiaoman.cn/api-3496685
        description: Published operation doc (Apifox)
  /api/internal/sobot/refreshsobottoken:
    get:
      summary: 智齿刷新接口
      deprecated: false
      description: ''
      tags:
      - devops相关
      parameters:
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: devops相关
      x-apifox-status: released
      x-run-in-apifox: https://open.xiaoman.cn/web/project/345096/apis/api-3496686-run
      externalDocs:
        url: https://open.xiaoman.cn/api-3496686
        description: Published operation doc (Apifox)
  /api/internal/prometheus/cisaveappversion:
    post:
      summary: app版本发布
      deprecated: false
      description: ''
      tags:
      - devops相关
      parameters:
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      requestBody:
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                app_key:
                  example: ''
                  type: string
                version:
                  example: ''
                  type: string
                app_name:
                  example: okki
                  type: string
                app_platform:
                  example: android
                  type: string
                version_description:
                  example: ''
                  type: string
                secret_key:
                  example: ''
                  type: string
                min_version:
                  type: integer
                  example: 1
                file_name:
                  example: ''
                  type: string
                file_size:
                  example: ''
                  type: string
                file_url:
                  example: ''
                  type: string
                file_md5:
                  example: ''
                  type: string
                content:
                  example: ''
                  type: string
                extension_data:
                  example: ''
                  type: string
                is_diff:
                  type: integer
                  example: 0
                is_ABTest:
                  type: integer
                  example: 0
                status:
                  type: integer
                  example: 0
                project_id:
                  type: integer
                  example: 0
                branch:
                  example: ''
                  type: string
                pipeline_tag:
                  example: ''
                  type: string
                pipeline_id:
                  type: integer
                  example: 0
              required:
              - app_key
              - version
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: devops相关
      x-apifox-status: released
      x-run-in-apifox: https://open.xiaoman.cn/web/project/345096/apis/api-3496687-run
      externalDocs:
        url: https://open.xiaoman.cn/api-3496687
        description: Published operation doc (Apifox)
  /api/dingtalkwrite/deletedingtalkmember:
    post:
      summary: 钉钉管理-删除账号
      deprecated: false
      description: ''
      tags:
      - devops相关
      parameters:
      - name: dingtalk_user_id
        in: query
        description: ''
        required: false
        schema:
          type: integer
      - name: crm_user_id
        in: query
        description: ''
        required: false
        schema:
          type: integer
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties: {}
          headers: {}
          x-apifox-name: 成功
        x-200:请求成功:
          description: ''
          content:
            application/json:
              schema:
                title: ''
                type: object
                properties:
                  code:
                    type: integer
                  msg:
                    type: string
                x-apifox-orders:
                - code
                - msg
              example:
                msg: success
                code: 0
          headers: {}
          x-apifox-name: 请求成功
      security: []
      x-apifox-folder: devops相关
      x-apifox-status: released
      x-run-in-apifox: https://open.xiaoman.cn/web/project/345096/apis/api-3496688-run
      externalDocs:
        url: https://open.xiaoman.cn/api-3496688
        description: Published operation doc (Apifox)
components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorization: ApiKey sk-your-key-here — API keys issued at https://go.okki.ai after registration.'
