openapi: 3.0.3
info:
  title: OKKI Go Companies s7.1 API
  description: OKKI Go is a B2B prospecting engine for AI agents and sales teams from Xiaoman (小满科技, an Alibaba company). Search global B2B companies, unlock company profiles and decision-maker contact emails, send batch or personalized cold outreach email (EDM), and track delivery — designed to be driven from AI agents via the provider-published OKKI Go Agent Skill. This OpenAPI was generated by API Evangelist from the provider's published API reference shipped inside the @okki-global/okki-go npm package (skill/references/api-reference.md, v1.3.4); endpoint paths, parameters, billing notes, and error semantics are taken verbatim from that document. Errors use RFC 7807 Problem Details. All authenticated endpoints share a 60 requests/minute rate limit.
  version: 1.0.0
  x-generated: '2026-07-21'
  x-method: generated
  x-source: npm @okki-global/okki-go 1.3.4 skill/references/api-reference.md
servers:
- url: https://go.okki.ai
  description: OKKI Go production
tags:
- name: s7.1
paths:
  /v1/company/info:
    get:
      summary: 客户详情
      deprecated: false
      description: '| 异常码 | 异常消息 |异常解决方案|

        | --- | --- | --- |

        | 404 | Not Found Resource | 检查传入的company_id 或者 serial_id是否正确 |'
      tags:
      - s7.1
      parameters:
      - name: company_id
        in: query
        description: ' 公司客户ID 来自于/v1/company/list接口company_id'
        required: false
        example: 1
        schema:
          type: integer
      - name: format
        in: query
        description: ' 是否返回格式化后的数据，默认值: 0 '
        required: false
        example: ' 1'
        schema:
          type: string
      - name: serial_id
        in: query
        description: ' 客户编号 来自于/v1/company/list接口serial_id'
        required: false
        example: ' A01'
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxMWMxMzU5NmRlMGJjYzM1MzRlYTIxMWEyMTE0MTdjODcxZjMzZGVjNjVmMzE1MDcxM2EwMTE5N2I0NGJlODY2NDM0YWFmYjczZmI0ZWIwYiIsImp0aSI6ImU3NTBiMWY2MDZjMDc5MTc3YzdmZjZjZDM3ZWZkMWFjYWZlMjhmNjNhY2U2YzJlMDg2ZmQyMTY4YmRhYTkzYTAzMDAyZDY3OGJhOTBkMDgxIiwiaWF0IjoxNjc4OTQ5NTQwLjcyNjQwMSwibmJmIjoxNjc4OTQ5NTQwLjcyNjQwNCwiZXhwIjoxNjc4OTc4MzQwLjcxODk3Niwic3ViIjoiIiwic2NvcGVzIjpbInByb2R1Y3QiLCJjb21wYW55IiwiaW52b2ljZXMiLCJsZWFkIiwib3Bwb3J0dW5pdHkiLCJ1c2VyIl19.XJfFkUedgP9Kz-a4-nIKlb8DNt2YoIXxatZiUJDaMXxVEtpceWz59QMJtpqMHS-qgB38bY8B5_9bdMUYg3fCvSTu0RNWfMyvEri9Dqmp3RBE88DYoKC4b-kugv-49ujkAl_GUv1X3FVI5L3RXDdhGVmVVEwqbDXnIWaSSNi9LhdJ2XX6RU0LkjVYnL3_nwwrcmDB_FJ2JHDNnB6Hin0fiteA6SY03vsxB2jnwMLKtoN6wab5eJex7mGnhEe8d0lG1XviOjIeU9DhQN-31dSKdjbDjfCCtrxtqmxCDFVdIDiuoH2CuxSVn2c0skjiBMm9zOQ5bfV-wWRjY_fxdG-e4g
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                    title: 错误码
                    examples:
                    - 0
                  message:
                    type: string
                    title: 错误信息
                    examples:
                    - success
                  now:
                    type: string
                    title: 当前时间
                    examples:
                    - '2022-01-01 00:00:00'
                  data:
                    type: object
                    properties:
                      company_id:
                        type: integer
                        title: 公司客户ID
                      name:
                        type: string
                        title: 公司名称
                      short_name:
                        type: string
                        title: 公司简称
                      serial_id:
                        type: string
                        title: 客户编号
                      order_time:
                        type: string
                        title: 最近联系时间
                      create_time:
                        type: string
                        title: 系统创建时间
                      create_user:
                        type: string
                        title: 创建人
                      update_time:
                        type: string
                        title: 更新时间
                      last_edit_user:
                        type: integer
                        title: 更新人
                      archive_type:
                        type: integer
                        title: 创建方式
                        description: 1手动新建，2AI自动新建，3AI建档建议，4客户通同步
                      category_ids:
                        type: array
                        items:
                          type: integer
                        title: 主营产品
                        examples:
                        - - 1
                          - 2
                          - 3
                      country:
                        type: string
                        title: 国家地区
                      province:
                        type: string
                        title: 省
                      city:
                        type: string
                        title: 市
                      biz_type:
                        type: string
                        title: 客户类型
                      intention_level:
                        type: integer
                        title: 采购意向
                        description: 0未知，1低，2中，3高
                      annual_procurement:
                        type: integer
                        title: 年采购额
                      timezone:
                        type: integer
                        title: 时区
                      scale_id:
                        type: integer
                        title: 规模
                        description: '1：少于59人,2：60-149人,3：150-499人,4：500-999人,5：1000-4999人，6: 5000人以上'
                      star:
                        type: integer
                        title: 客户星级
                      group_id:
                        type: integer
                        title: 客户分组
                      pool_id:
                        type: integer
                        title: 公海分组
                      trail_status:
                        type: object
                        properties:
                          status_id:
                            type: integer
                            title: 状态ID
                          status_name:
                            type: string
                            title: 状态名称
                        title: 客户状态
                        x-apifox-orders:
                        - status_id
                        - status_name
                      origin:
                        type: integer
                        title: 客户来源
                      tag:
                        type: object
                        properties:
                          tag_id:
                            type: integer
                            title: 标签ID
                          tag_name:
                            type: string
                            title: 标签名称
                        title: 客户标签
                        x-apifox-orders:
                        - tag_id
                        - tag_name
                      product_group_ids:
                        type: array
                        items:
                          type: integer
                        title: 产品分组
                        examples:
                        - - 1
                          - 2
                          - 3
                      homepage:
                        type: string
                        title: 公司主页网址
                      fax:
                        type: string
                        title: 传真
                      tel:
                        type: object
                        properties:
                          '0':
                            type: string
                            title: 区号
                          '1':
                            type: string
                            title: 电话号码
                        title: 座机电话信息
                        x-apifox-orders:
                        - '0'
                        - '1'
                      address:
                        type: string
                        title: 公司地址
                      image_list:
                        type: array
                        items:
                          type: object
                          properties:
                            file_path:
                              type: string
                              title: 文件地址
                            file_preview_url:
                              type: string
                              title: 文件预览地址
                            file_name:
                              type: string
                              title: 文件名称
                            file_size:
                              type: integer
                              title: 文件大小
                          x-apifox-orders:
                          - file_path
                          - file_preview_url
                          - file_name
                          - file_size
                        title: 公司logo列表
                      customers:
                        type: array
                        items:
                          type: object
                          properties:
                            customer_id:
                              type: integer
                              title: 客户联系人ID
                            company_id:
                              type: integer
                              title: 从属的公司客户ID
                            name:
                              type: string
                              title: 昵称
                            email:
                              type: string
                              title: 联系人邮箱
                            tel_list:
                              type: array
                              items:
                                type: object
                                properties:
                                  '0':
                                    type: string
                                    title: 区号
                                  '1':
                                    type: string
                                    title: 电话号码
                                x-apifox-orders:
                                - '0'
                                - '1'
                              title: 电话信息
                            post_grade:
                              type: integer
                              title: 职级
                            post:
                              type: string
                              title: 职位
                            contact:
                              type: array
                              items:
                                type: object
                                properties:
                                  type:
                                    type: string
                                    title: 联系平台
                                  value:
                                    type: string
                                    title: 平台号
                                x-apifox-orders:
                                - type
                                - value
                              title: 联系人社交平台信息列表
                            birth:
                              type: string
                              title: 生日
                            gender:
                              type: integer
                              title: 性别
                              description: 1男，2女
                            remark:
                              type: string
                              title: 联系人备注
                            main_customer_flag:
                              type: integer
                              title: 是否主要联系人
                              description: 0=不是，1=是主要联系人
                            external_field_data:
                              type: object
                              title: 自定义数据字段列表
                              x-apifox-orders: []
                              properties: {}
                            image_list:
                              type: array
                              items:
                                type: object
                                properties:
                                  file_path:
                                    type: string
                                    title: 文件地址
                                  file_preview_url:
                                    type: string
                                    title: 文件预览地址
                                  file_name:
                                    type: string
                                    title: 文件名称
                                  file_size:
                                    type: integer
                                    title: 文件大小
                                x-apifox-orders:
                                - file_path
                                - file_preview_url
                                - file_name
                                - file_size
                              title: 头像列表
                          x-apifox-orders:
                          - customer_id
                          - company_id
                          - name
                          - email
                          - tel_list
                          - post_grade
                          - post
                          - contact
                          - birth
                          - gender
                          - remark
                          - main_customer_flag
                          - external_field_data
                          - image_list
                        title: 客户联系人列表
                      remark:
                        type: string
                        title: 公司备注
                      owner:
                        type: array
                        items:
                          type: object
                          properties:
                            user_id:
                              type: integer
                              title: 跟进人ID
                            nickname:
                              type: string
                              title: 昵称
                          x-apifox-orders:
                          - user_id
                          - nickname
                        title: 跟进人列表
                      company:
                        type: array
                        items:
                          type: object
                          properties:
                            group_id:
                              type: integer
                              title: 客户数据信息分组ID
                            name:
                              type: string
                              title: 客户数据信息分组名称
                            fields:
                              type: array
                              items:
                                type: object
                                properties:
                                  id:
                                    type: string
                                    title: 数据字段ID
                                  name:
                                    type: string
                                    title: 数据字段名称
                                  type:
                                    type: string
                                    title: 数据字段值
                                x-apifox-orders:
                                - id
                                - name
                                - type
                              title: 客户数据字段列表
                          x-apifox-orders:
                          - group_id
                          - name
                          - fields
                        title: 客户数据列表
                      archive_time:
                        type: string
                        title: 创建时间（对应Web显示的创建时间）
                      recent_follow_up_time:
                        type: string
                        title: 最近跟进时间
                      next_move_to_public_date:
                        type: string
                        title: 下次移入公海时间
                    title: 响应数据
                    x-apifox-orders:
                    - company_id
                    - name
                    - short_name
                    - serial_id
                    - order_time
                    - create_time
                    - create_user
                    - update_time
                    - archive_time
                    - recent_follow_up_time
                    - last_edit_user
                    - archive_type
                    - category_ids
                    - country
                    - province
                    - city
                    - biz_type
                    - intention_level
                    - annual_procurement
                    - timezone
                    - scale_id
                    - star
                    - group_id
                    - pool_id
                    - trail_status
                    - origin
                    - tag
                    - product_group_ids
                    - homepage
                    - fax
                    - tel
                    - address
                    - image_list
                    - customers
                    - remark
                    - owner
                    - company
                    - next_move_to_public_date
                    required:
                    - next_move_to_public_date
                required:
                - code
                - message
                - now
                x-apifox-orders:
                - code
                - message
                - now
                - data
              example:
                code: 200
                message: success
                now: '2026-01-21 16:02:22'
                data:
                  company_id: 56657420945678
                  short_name: ''
                  name: buxiangshangban
                  category_ids: []
                  serial_id: 乔三乔三8164babyface
                  archive_time: '2025-07-30 09:43:47'
                  archive_type: 1
                  country: ''
                  province: ''
                  city: ''
                  biz_type: ''
                  last_owner: 55280038
                  pool_id: 0
                  private_time: '2025-07-30 09:43:47'
                  public_time: '2025-11-06 00:08:47'
                  intention_level: 0
                  annual_procurement: 0
                  timezone: ''
                  scale_id: 0
                  star: 0
                  group_id: 0
                  trail_status:
                    status_id: '0'
                    status_name: 无
                    status_color: '#cccccc'
                    info_value: '0'
                    info_label: 无
                  origin: 0
                  origin_list: []
                  homepage: ''
                  fax: ''
                  tel:
                  - ''
                  - ''
                  tel_area_code: ''
                  address: ''
                  remark: ''
                  image_list: []
                  next_follow_up_time: '1970-01-01 00:00:00'
                  create_user: 55280040
                  create_time: '2025-07-30 09:43:47'
                  last_edit_user: '55280038'
                  update_time: '2025-11-06 00:08:47'
                  tag: []
                  product_group_ids: []
                  release_count: 1
                  public_type: 1
                  edit_time: '2025-09-05 15:19:15'
                  main_lead_id: 0
                  order_time: '2025-11-07 16:03:38'
                  recent_follow_up_time: '2025-11-07 16:03:38'
                  client_tag_list: []
                  next_move_to_public_date: '1970-01-01'
                  ali_store_id: []
                  country_region:
                    city: ''
                    country: ''
                    province: ''
                  user_id: []
                  deal_time: ''
                  origin_name: ''
                  trail_status_name: 无
                  pool_name: 公共公海分组
                  alibaba_store_info: []
                  source_detail:
                    alibaba_store_info: []
                    site_info: []
                  alibaba_relation_list: []
                  alibaba_user_info: []
                  alibaba_last_owner_info: []
                  company:
                  - group_id: 1
                    name: 基本信息
                    fields:
                    - id: '13193361400290'
                      name: 是否同步
                      field_type: '3'
                      value: ''
                    - id: name
                      name: 公司名称
                      field_type: '1'
                      value: buxiangshangban
                    - id: short_name
                      name: 简称
                      field_type: '1'
                      value: ''
                    - id: origin_list
                      name: 客户来源
                      field_type: '7'
                      value: []
                    - id: '13193448310389'
                      name: 营业额
                      field_type: '2'
                      value: ''
                    - id: '13193462587148'
                      name: 成立时间
                      field_type: '4'
                      value: ''
                    - id: '13193575265935'
                      name: 客户主营产品
                      field_type: '7'
                      value: ''
                    - id: '13193602539659'
                      name: 是否具备研发能力
                      field_type: '7'
                      value: ''
                    - id: '13193716666847'
                      name: 关联销售员
                      field_type: '3'
                      value: ''
                    - id: '13193742303403'
                      name: 客户所属行业
                      field_type: '2'
                      value: ''
                    - id: '13193785265137'
                      name: 客户编号(客户级别）
                      field_type: '2'
                      value: ''
                    - id: '13193889505134'
                      name: 联系阶段
                      field_type: '3'
                      value: ''
                    - id: '13193949334238'
                      name: 区域（国内必填）
                      field_type: '3'
                      value: ''
                    - id: '13193998000309'
                      name: 省
                      field_type: '1'
                      value: ''
                    - id: '13194029142663'
                      name: 市
                      field_type: '1'
                      value: ''
                    - id: '13194101283466'
                      name: 注册资金
                      field_type: '1'
                      value: ''
                    - id: '13194125253203'
                      name: 客户所属组织
                      field_type: '3'
                      value: ''
                    - id: '13194168691177'
                      name: 结算货币
                      field_type: '3'
                      value: ''
                    - id: '13194201423464'
                      name: 团队跟进人
                      field_type: '3'
                      value: ''
                    - id: '13194245593312'
                      name: 业务部门
                      field_type: '3'
                      value: ''
                    - id: origin
                      name: 客户来源
                      field_type: 3
                      value: ''
                  - group_id: 2
                    name: 特征信息
                    fields:
                    - id: intention_level
                      name: 采购意向
                      field_type: '3'
                      value: 0
                    - id: annual_procurement
                      name: 年采购额
                      field_type: '3'
                      value: 0
                    - id: province
                      name: 省份
                      field_type: '3'
                      value: ''
                    - id: biz_type
                      name: 客户类型
                      field_type: '3'
                      value: ''
                    - id: city
                      name: 城市
                      field_type: '3'
                      value: ''
                    - id: country
                      name: 国家地区
                      field_type: '3'
                      value: ''
                    - id: scale_id
                      name: 规模
                      field_type: '3'
                      value: 0
                    - id: category_ids
                      name: 主营产品
                      field_type: '7'
                      value: []
                    - id: timezone
                      name: 时区
                      field_type: '3'
                      value: ''
                    - id: '13195018941876'
                      name: 客户意向采购产品
                      field_type: '2'
                      value: ''
                  - group_id: 3
                    name: 管理信息
                    fields:
                    - id: star
                      name: 客户星级
                      field_type: '5'
                      value: 0
                    - id: group_id
                      name: 客户分组
                      field_type: '3'
                      value: 未分组
                    - id: trail_status
                      name: 客户阶段
                      field_type: '3'
                      value: 无
                  - group_id: 4
                    name: 联系信息
                    fields:
                    - id: homepage
                      name: 公司网址
                      field_type: '1'
                      value: ''
                    - id: tel
                      name: 座机
                      field_type: '1'
                      value:
                        tel_area_code: ''
                        tel: ''
                    - id: address
                      name: 详细地址
                      field_type: '2'
                      value: ''
                    - id: fax
                      name: 传真
                      field_type: '1'
                      value: ''
                  - group_id: 5
                    name: 其他信息
                    fields:
                    - id: '5611336406277'
                      name: 客户产品
                      field_type: '3'
                      value: ''
                    - id: remark
                      name: 公司备注
                      field_type: '2'
                      value: ''
                    - id: '14336719487'
                      name: 文本字段
                      field_type: '1'
                      value: ''
                    - id: '14336724791'
                      name: 多行文本字段
                      field_type: '2'
                      value: ''
                    - id: '14336740094'
                      name: 下拉单选
                      field_type: '3'
                      value: ''
                    - id: '18912239641'
                      name: 客户地址
                      field_type: '2'
                      value: ''
                    - id: '1830529538578'
                      name: 产品类型
                      field_type: '7'
                      value: ''
                    - id: '14336745505'
                      name: 自定义日期
                      field_type: '4'
                      value: ''
                    - id: '14336749225'
                      name: 自定义数值
                      field_type: '5'
                      value: ''
                    - id: '14336771360'
                      name: 自定义下拉多选
                      field_type: '7'
                      value: ''
                    - id: '17224560985'
                      name: 小可爱
                      field_type: '1'
                      value: ''
                    - id: '14336777140'
                      name: 日期-时间
                      field_type: '10'
                      value: ''
                    - id: '2556294010332'
                      name: 客户重要程度
                      field_type: '5'
                      value: ''
                    - id: '791080592468'
                      name: 红包
                      field_type: '1'
                      value: ''
                    - id: '4967222183893'
                      name: 产品属性
                      field_type: '7'
                      value: ''
                    - id: '791082449933'
                      name: y产品
                      field_type: '1'
                      value: ''
                    - id: '6384932198880'
                      name: 阿里买家等级
                      field_type: '3'
                      value: ''
                    - id: '791086073454'
                      name: j产品
                      field_type: '1'
                      value: ''
                    - id: '6590866819234'
                      name: 买家分层
                      field_type: '3'
                      value: ''
                    - id: '791089427247'
                      name: h产品
                      field_type: '1'
                      value: ''
                    - id: '6884174737520'
                      name: 临时分组
                      field_type: '3'
                      value: ''
                    - id: '1764693531582'
                      name: 客户采购产品
                      field_type: '2'
                      value: ''
                    - id: '6965504713479'
                      name: 客户分类
                      field_type: '3'
                      value: ''
                    - id: '7177053929221'
                      name: 行业
                      field_type: '3'
                      value: ''
                    - id: '7193065259936'
                      name: 数据来源下载
                      field_type: '3'
                      value: ''
                    - id: '7714808053202'
                      name: 自定义多行文本
                      field_type: '2'
                      value: ''
                    - id: '7714811584321'
                      name: 自定义单行文本
                      field_type: '1'
                      value: ''
                    - id: '7714819114619'
                      name: 自定义单选
                      field_type: '3'
                      value: ''
                    - id: '7714825824675'
                      name: 自定义zbp时间
                      field_type: '10'
                      value: ''
                    - id: '7976122586825'
                      name: 客户的级别
                      field_type: '3'
                      value: ''
                    - id: '8142335818786'
                      name: 日程自定义字段 a
                      field_type: '10'
                      value: ''
                    - id: '8142472033216'
                      name: 日程自定义字段
                      field_type: '1'
                      value: ''
                    - id: '8779629974922'
                      name: 下拉字段
                      field_type: '3'
                      value: ''
                    - id: '9134637070347'
                      name: 买家的类型
                      field_type: '3'
                      value: ''
                    - id: '11292857875465'
                      name: 客户的阶段
                      field_type: '3'
                      value: ''
                    - id: '12417203364261'
                      name: 不知道是谁的字段
                      field_type: '1'
                      value: ''
                    - id: '12586262186679'
                      name: 订单-关联
                      field_type: '3'
                      value: ''
                    - id: '12586287691379'
                      name: 订单-引用
                      field_type: '3'
                      value: ''
                    - id: '14649928240656'
                      name: zidingyi1
                      field_type: '1'
                      value: ''
                    - id: '11216954625483'
                      name: 线索类型
                      field_type: '3'
                      value: ''
                    - id: '19222378650765'
                      name: 是否骗子
                      field_type: '3'
                      value: ''
                    - id: '19222390587272'
                      name: 公司LOGO
                      field_type: '6'
                      value: ''
                    - id: '19222398113187'
                      name: 备注（开发情况等）
                      field_type: '1'
                      value: ''
                    - id: '34943434515492'
                      name: 测试图片
                      field_type: '6'
                      value: ''
                    - id: '36774799313995'
                      name: 客户询盘等级-农业
                      field_type: '3'
                      value: ''
                    - id: '61130405211130'
                      name: 客户-自定义数值
                      field_type: '5'
                      value: ''
                    - id: '70454843892867'
                      name: 1 月预计成交额
                      field_type: '5'
                      value: ''
                    - id: '70454857730350'
                      name: 2 月预计成交额
                      field_type: '5'
                      value: ''
                    - id: '71832332368261'
                      name: 意向产品信息
                      field_type: '3'
                      value: ''
                    - id: '23140192729091'
                      name: 数值0705
                      field_type: '5'
                      value: ''
                    - id: '71833602139250'
                      name: 客户等级（自定义）
                      field_type: '3'
                      value: ''
                    - id: '71834739660315'
                      name: 客户等级（自定义）1
                      field_type: '3'
                      value: ''
                    - id: '79425951612257'
                      name: 测试多选字段
                      field_type: '7'
                      value: ''
                    - id: '79426327497316'
                      name: 测试多选
                      field_type: '7'
                      value: ''
                    - id: '68032412767187'
                      name: 自定义字段-客户星级
                      field_type: '3'
                      value: ''
                  lead: []
                  last_owner_info:
                    user_id: '55280038'
                    avatar: https://v4client.oss-cn-hangzhou.aliyuncs.com/other/img/55280038/1f3b52af445546c48341c6800afb32e08241d332bad3e0a6623c72e1f32f8cc2.jpeg
                    name: qiao
                    nickname: qiao
                  owner: []
                  customers:
                  - customer_id: 56657420942501
                    company_id: 56657420945678
                    name: ''
                    email: ''
                    gender: 0
                    remark: ''
                    birth: ''
                    tel_list: []
                    post_grade: 0
                    post: ''
                    image_list: []
                    contact:
                    - type: linkedin
                      value: eweqweeq
                    main_customer_flag: 1
                    external_field_data:
                    - id: '16664800173'
                      base: '0'
                      name: 联系人文本字段
                      require: '0'
                      hint: ''
                      field_type: '1'
                      disable_flag: '0'
                      type: '5'
                      group_id: '1'
                      ext_info: []
                      relation_origin_type: '0'
                      relation_origin_field: ''
                      edit_hide: '1'
                      name_info:
                        info_label: 联系人文本字段
                        info_value: 联系人文本字段
                      hint_info:
                        info_label: ''
                        info_value: ''
                      relation_origin_field_info: []
                      group_name: 基本信息
                      value: ''
                    - id: '19281463599'
                      base: '0'
                      name: 旺旺号
                      require: '0'
                      hint: ''
                      field_type: '1'
                      disable_flag: '0'
                      type: '5'
                      group_id: '1'
                      ext_info: []
                      relation_origin_type: '0'
                      relation_origin_field: ''
                      edit_hide: '1'
                      name_info:
                        info_label: 旺旺号
                        info_value: 旺旺号
                      hint_info:
                        info_label: ''
                        info_value: ''
                      relation_origin_field_info: []
                      group_name: 基本信息
                      value: ''
                    - id: '2011685728342'
                      base: '0'
                      name: 客户标签
                      require: '0'
                      hint: ''
                      field_type: '3'
                      disable_flag: '0'
                      type: '5'
                      group_id: '1'
                      ext_info:
                      - 忠诚客户
                      - 唤醒类潜在客户
                      - 摇摆客户
                      - 抱怨潜在客户
                      relation_origin_type: '0'
                      relation_origin_field: ''
                      edit_hide: '1'
                      name_info:
                        info_label: 客户标签
                        info_value: 客户标签
                      ext_info_info:
                      - info_label: 忠诚客户
                        info_value: 忠诚客户
                      - info_label: 唤醒类潜在客户
                        info_value: 唤醒类潜在客户
                      - info_label: 摇摆客户
                        info_value: 摇摆客户
                      - info_label: 抱怨潜在客户
                        info_value: 抱怨潜在客户
                      hint_info:
                        info_label: ''
                        info_value: ''
                      relation_origin_field_info: []
                      group_name: 基本信息
                      value: ''
                    - id: '12171225788787'
                      base: '0'
                      name: 联系人自定义字段1019
                      require: '0'
                      hint: ''
                      field_type: '1'
                      disable_flag: '0'
                      type: '5'
                      group_id: '1'
                      ext_info: []
                      relation_origin_type: '0'
                      relation_origin_field: ''
                      edit_hide: '1'
                      name_info:
                        info_label: 联系人自定义字段1019
                        info_value: 联系人自定义字段1019
                      hint_info:
                        info_label: ''
                        info_value: ''
                      relation_origin_field_info: []
                      group_name: 基本信息
                      value: ''
                    - id: '16664806965'
                      base: '0'
                      name: 联系人多行文本
                      require: '0'
                      hint: ''
                      field_type: '2'
                      disable_flag: '0'
                      type: '5'
                      group_id: '1'
                      ext_info: []
                      relation_origin_type: '0'
                      relation_origin_field: ''
                      edit_hide: '1'
                      name_info:
                        info_label: 联系人多行文本
                        info_value: 联系人多行文本
                      hint_info:
                        info_label: ''
                        info_value: ''
                      relation_origin_field_info: []
                      group_name: 基本信息
                      value: ''
                    - id: '9211166803327'
                      base: '0'
                      name: 联系人姓名
                      require: '0'
                      hint: aaa<a href=1></a>
                      field_type: '1'
                      disable_flag: '1'
                      type: '5'
                      group_id: '1'
                      ext_info: []
                      relation_origin_type: '0'
                      relation_origin_field: ''
                      edit_hide: '1'
                      name_info:
                        info_label: 联系人姓名
                        info_value: 联系人姓名
                      hint_info:
                        info_label: aaa<a href=1></a>
                        info_value: aaa<a href=1></a>
                      relation_origin_field_info: []
                      group_name: 基本信息
                      value: ''
                    - id: '43639520783366'
                      base: '0'
                      name: 自定义图片1
                      require: '0'
                      hint: ''
                      field_type: '6'
                      disable_flag: '0'
                      type: '5'
                      group_id: '1'
                      ext_info: []
                      relation_origin_type: '0'
                      relation_origin_field: ''
                      edit_hide: '1'
                      name_info:
                        info_label: 自定义图片1
                        info_value: 自定义图片1
                      hint_info:
                        info_label: ''
                        info_value: ''
                      relation_origin_field_info: []
                      group_name: 基本信息
                      value: []
                    - id: '16664824694'
                      base: '0'
                      name: 联系人下拉单选
                      require: '0'
                      hint: ''
                      field_type: '3'
                      disable_flag: '1'
                      type: '5'
                      group_id: '1'
                      ext_info:
                      - good time
                      - better
                      - box
                      relation_origin_type: '0'
                      relation_origin_field: ''
                      edit_hide: '1'
                      name_info:
                        info_label: 联系人下拉单选
                        info_value: 联系人下拉单选
                      ext_info_info:
                      - info_label: good time
                        info_value: good time
                      - info_label: better
                        info_value: better
                      - info_label: box
                        info_value: box
                      hint_info:
                        info_label: ''
                        info_value: ''
                      relation_origin_field_info: []
                      group_name: 基本信息
                      value: ''
                    - id: '16664830096'
                      base: '0'
                      name: 联系人日期
                      require: '0'
                      hint: ''
                      field_type: '4'
                      disable_flag: '1'
                      type: '5'
                      group_id: '1'
                      ext_info: []
                      relation_origin_type: '0'
                      relation_origin_field: ''
                      edit_hide: '1'
                      name_info:
                        info_label: 联系人日期
                        info_value: 联系人日期
                      hint_info:
                        info_label: ''
                        info_value: ''
                      relation_origin_field_info: []
                      group_name: 基本信息
                      value: ''
                    - id: '16664838290'
                      base: '0'
                      name: 联系人数值
                      require: '0'
                      hint: ''
                      field_type: '5'
                      disable_flag: '1'
                      type: '5'
                      group_id: '1'
                      ext_info: []
                      relation_origin_type: '0'
                      relation_origin_field: ''
                      edit_hide: '1'
                      name_info:
                        info_label: 联系人数值
                        info_value: 联系人数值
                      hint_info:
                        info_label: ''
                        info_value: ''
                      relation_origin_field_info: []
                      group_name: 基本信息
                      value: null
                    - id: '16664857887'
                      base: '0'
                      name: 联系人下拉多选
                      require: '0'
                      hint: ''
                      field_type: '7'
                      disable_flag: '1'
                      type: '5'
                      group_id: '1'
                      ext_info:
                      - hey
                      - the
                      - nothing
                      relation_origin_type: '0'
                      relation_origin_field: ''
                      edit_hide: '1'
                      name_info:
                        info_label: 联系人下拉多选
                        info_value: 联系人下拉多选
                      ext_info_info:
                      - info_label: hey
                        info_value: hey
                      - info_label: the
                        info_value: the
                      - info_label: nothing
                        info_value: nothing
                      hint_info:
                        info_label: ''
                        info_value: ''
                      relation_origin_field_info: []
                      group_name: 基本信息
                      value: ''
                    - id: '16904502923030'
                      base: '0'
                      name: xiaohei图片
                      require: '0'
                      hint: ''
                      field_type: '6'
                      disable_flag: '1'
                      type: '5'
                      group_id: '1'
                      ext_info: []
                      relation_origin_type: '0'
                      relation_origin_field: ''
                      edit_hide: '1'
                      name_info:
                        info_label: xiaohei图片
                        info_value: xiaohei图片
                      hint_info:
                        info_label: ''
                        info_value: ''
                      relation_origin_field_info: []
                      group_name: 基本信息
                      value: []
                    - id: '54848978295058'
                      base: '0'
                      name: 测试百分比字段
                      require: '0'
                      hint: ''
                      field_type: '5'
                      disable_flag: '0'
                      type: '5'
                      group_id: '1'
                      ext_info: []
                      relation_origin_type: '0'
                      relation_origin_field: ''
                      edit_hide: '1'
                      name_info:
                        info_label: 测试百分比字段
                        info_value: 测试百分比字段
                      hint_info:
                        info_label: ''
                        info_value: ''
                      relation_origin_field_info: []
                      group_name: 基本信息
                      value: null
                    - id: '70445981281532'
                      base: '0'
                      name: 线索联系人文本
                      require: '0'
                      hint: ''
                      field_type: '1'
                      disable_flag: '1'
                      type: '5'
                      group_id: '1'
                      ext_info: []
                      relation_origin_type: '0'
                      relation_origin_field: ''
                      edit_hide: '1'
                      name_info:
                        info_label: 线索联系人文本
                        info_value: 线索联系人文本
                      hint_info:
                        info_label: ''
                        info_value: ''
                      relation_origin_field_info: []
                      group_name: 基本信息
                      value: ''
                    user_id: []
                    company_name: buxiangshangban
                  country_name: ''
          headers: {}
          x-apifox-name: 成功
      security: []
      x-apifox-folder: 客户
      x-apifox-status: released
      x-run-in-apifox: https://open.xiaoman.cn/web/project/345096/apis/api-3473043-run
      externalDocs:
        url: https://open.xiaoman.cn/api-3473043
        description: Published operation doc (Apifox)
  /v1/dynamic/trail/list:
    get:
      summary: 跟进动态查询接口
      deprecated: false
      description: ''
      tags:
      - s7.1
      parameters:
      - name: company_id
        in: query
        description: 客户ID
        required: false
        example: 1
        schema:
          type: integer
      - name: lead_id
        in: query
        description: 线索ID
        required: false
        example: 1
        schema:
          type: integer
      - name: opportunity_id
        in: query
        description: 商机ID
        required: false
        example: 1
        schema:
          type: integer
      - name: start_time
        in: query
        description: 开始时间
        required: false
        example: '2022-09-21 21:50:00'
        schema:
          type: string
      - name: end_time
        in: query
        description: 结束时间
        required: false
        example: '2022-09-23 21:50:00'
        schema:
          type: string
      - name: count
        in: query
        description: 每页数量
        required: false
        example: 1
        schema:
          type: integer
      - name: start_index
        in: query
        description: 页码
        required: false
        example: 1
        schema:
          type: integer
      - name: Authorization
        in: header
        description: 从/v1/oauth2/access_token获取到的access_token
        required: true
        example: '{{access_token}}'
        schema:
          type: string
          default: '{{access_token}}'
      requestBody:
        content:
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties: {}
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                type: object
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  now:
                    type: string
                  data:
                    type: object
                    properties:
                      list:
                        type: array
                        items:
                          type: object
                          properties:
                            follow_up_id:
                              type: integer
                              title: 跟进ID
                            trail_id:
                              type: integer
                              title: 动态ID
                            type:
                              type: integer
                              title: 跟进类型
                            client_id:
                              type: integer
                              title: 企业id
                            create_user:
                              type: integer
                              title: 创建人
                            refer_id:
                              type: integer
                              title: 关联对象ID
                            content:
                              type: string
                              title: 记录内容
                            file_ids:
                              type: array
                              items:
                                type: string
                              title: 附件ids
                            enable_flag:
                              type: integer
                            created_at:
                              type: string
                            create_time:
                              type: string
                              title: 创建时间
                            update_time:
                              type: string
                              title: 更新时间
                            company_id:
                              type: integer
                              title: 客户id
                            customer_id:
                              type: array
                              items:
                                type: integer
                              title: 联系人id
                            lead_id:
                              type: integer
                              title: 线索id
                            lead_customer_id:
                              type: array
                              items:
                                type: string
                              title: 线索联系人id
                            opportunity_id:
                              type: integer
                              title: 商机id
                            delete_flag:
                              type: integer
                              title: 是否被删除
                            inquiry_id:
                              type: integer
                              title: 询盘id
                            track_session_no:
                              type: integer
                            comment_count:
                              type: integer
                              title: 评论数量
                            company_info:
                              type: object
                              properties:
                                company_id:
                                  type: integer
                                  title: 客户id
                                name:
                                  type: string
                                  title: 客户名称
                                is_archive:
                                  type: integer
                                  title: 客户状态。0为被删除
                              required:
                              - company_id
                              - name
                              - is_archive
                              x-apifox-orders:
                              - company_id
                              - name
                              - is_archive
                              title: 客户信息
                            lead_info:
                              type: array
                              items:
                                type: string
                              title: 线索信息
                            opportunity_info:
                              type: array
                              items:
                                type: string
                              properties:
                                opportunity_id:
                                  type: integer
                                name:
                                  type: string
                              required:
                              - opportunity_id
                              - name
                              title: 商机信息
                            create_user_info:
                              type: object
                              properties:
                                user_id:
                                  type: string
                                  title: 用户id
                                nickname:
                                  type: string
                                  title: 昵称
                                avatar:
                                  type: string
                                  title: 头像
                              required:
                              - user_id
                              - nickname
                              - avatar
                              x-apifox-orders:
                              - user_id
                              - nickname
                              - avatar
                              title: 创建人信息
                            customer_info:
                              type: array
                              items:
                                type: object
                                properties:
                                  customer_id:
                                    type: integer
                                    title: 联系人id
                                  name:
                                    type: string
                                    title: 联系人名称
                                  email:
                                    type: string
                                    title: 邮箱
                                  tel_list:
                                    type: array
                                    items:
                                      type: array
                                      items:
                                        type: string
                                    title: 电话
                                  contact:
                                    type: array
                                    items:
                                      type: object
                                      properties:
                                        type:
                                          type: string
                                          title: 社交平台类型
                                        value:
                                          type: string
                                          title: 社交平台账号
                                      x-apifox-orders:
                                      - type
                                      - value
                                    title: 社交平台
                                required:
                                - customer_id
                                - name
                                - email
                                - tel_list
                                - contact
                                x-apifox-orders:
                                - customer_id
                                - name
                                - email
                                - tel_list
                                - contact
                              title: 联系人信息
                            lead_customer_info:
                              type: 'null'
                              title: 线索联系人信息
                            file_info:
                              type: 'null'
                              title: 附件
                          required:
                          - follow_up_id
                          - trail_id
                          - type
                          - client_id
                          - create_user
                          - refer_id
                          - content
                          - file_ids
                          - enable_flag
                          - created_at
                          - create_time
                          - update_time
                          - company_id
                          - customer_id
                          - lead_id
                          - lead_customer_id
                          - opportunity_id
                          - delete_flag
                          - inquiry_id
                          - track_session_no
                          - comment_count
                          - company_info
                          - lead_info
                          - opportunity_info
                          - create_user_info
                          - customer_info
                          - lead_customer_info
                          - file_info
                          x-apifox-orders:
                          - follow_up_id
                          - trail_id
                          - type
                          - client_id
                          - create_user
                          - refer_id
                          - content
                          - file_ids
                          - enable_flag
                          - created_at
                          - create_time
                          - update_time
                          - company_id
                          - customer_id
                          - lead_id
                          - lead_customer_id
                          - opportunity_id
                          - delete_flag
                          - inquiry_id
                          - track_session_no
                          - comment_count
                          - company_info
                          - lead_info
                          - opportunity_info
                          - create_user_info
                          - customer_info
                          - lead_customer_info
                          - file_info
                      totalItem:
                        type: integer
                        title: 总数
                    required:
                    - list
                    - totalItem
                    x-apifox-orders:
                    - list
                    - totalItem
                required:
                - code
                - message
                - now
                - data
                x-apifox-orders:
                - code
                - message
                - now
                - data
              example:
                code: 200
                message: success
                now: '2024-11-04 10:49:07'
                data:
                  list:
                  - follow_up_id: 25646265871661
                    trail_id: 25646265871658
                    type: 101
                    client_id: 23412
                    create_user: 55938259
                    refer_id: 25646265871661
                    content: 跟进
                    file_ids: []
                    enable_flag: 1
                    created_at: '2024-08-20 10:48:42'
                    create_time: '2024-08-20 10:48:42'
                    update_time: '2024-08-20 10:48:42'
                    company_id: 16696797769
                    customer_id:
                    - 4415640999551
                    lead_id: 0
                    lead_customer_id: []
                    opportunity_id: 0
                    delete_flag: 0
                    inquiry_id: 0
                    track_session_no: 0
                    comment_count: 0
                    company_info:
                      company_id: 16696797769
                      name: 小满的客户021
                      is_archive: 1
                    lead_info: []
                    opportunity_info: []
                    create_user_info:
                      user_id: '55938259'
                      nickname: CXK
                      avatar: ''
                    customer_info:
                    - customer_id: 4415640999551
                      name: 满021
                      email: xiaoman@mantest.com
                      tel_list: []
                      contact: []
                    lead_customer_info: null
                    file_info: null
                  - follow_up_id: 25197419337294
                    trail_id: 25197419337290
                    type: 101
                    client_id: 23412
                    create_user: 55938259
                    refer_id: 25197419337294
                    content: 快速记录一个动态
                    file_ids: []
                    enable_flag: 1
                    created_at: '2024-08-12 17:10:07'
                    create_time: '2024-08-12 17:10:07'
                    update_time: '2024-08-12 17:10:07'
                    company_id: 16696797769
                    customer_id: []
                    lead_id: 0
                    lead_customer_id: []
                    opportunity_id: 23273099298949
                    delete_flag: 0
                    inquiry_id: 0
                    track_session_no: 0
                    comment_count: 0
                    company_info:
                      company_id: 16696797769
                      name: 小满的客户021
                      is_archive: 1
                    lead_info: []
                    opportunity_info:
                      opportunity_id: 23273099298949
                      name: 小满的客户02120240708比利时
                    create_user_info:
                      user_id: '55938259'
                      nickname: CXK
                      avatar: ''
                    customer_info: null
                    lead_customer_info: null
                    file_info: null
                  - follow_up_id: 10452468112776
                    trail_id: 10452468112775
                    type: 101
                    client_id: 23412
                    create_user: 55281444
                    refer_id: 10452468112776
                    content: 发给h
                    file_ids: []
                    enable_flag: 1
                    created_at: '2023-08-31 15:00:31'
                    create_time: '2023-08-31 15:00:27'
                    update_time: '2023-08-31 15:00:31'
                    company_id: 16696797769
                    customer_id: []
                    lead_id: 0
                    lead_customer_id: []
                    opportunity_id: 0
                    delete_flag: 0
                    inquiry_id: 0
                    track_session_no: 0
                    comment_count: 0
                    company_info:
                      company_id: 16696797769
                      name: 小满的客户021
                      is_archive: 1
                    lead_info: []
                    opportunity_info: []
                    create_user_info:
                      user_id: '55281444'
                      nickname: 张三
                      avatar: ''
                    customer_info: null
                    lead_customer_info: null
                    file_info: null
                  - follow_up_id: 8390479839359
                    trail_id: 8390479839358
                    type: 102
                    client_id: 23412
                    create_user: 55281444
                    refer_id: 8390479839359
                    content: ''
                    file_ids: []
                    enable_flag: 1
                    created_at: '2023-06-25 15:47:32'
                    create_time: '2023-06-19 15:14:41'
                    update_time: '2023-06-25 15:47:32'
                    company_id: 16696797769
                    customer_id: []
                    lead_id: 0
                    lead_customer_id: []
                    opportunity_id: 1418441883793
                    delete_flag: 0
                    inquiry_id: 0
                    track_session_no: 0
                    comment_count: 0
                    company_info:
                      company_id: 16696797769
                      name: 小满的客户021
                      is_archive: 1
                    lead_info: []
                    opportunity_info:
                      opportunity_id: 1418441883793
                      name: zz测试商机
                    create_user_info:
                      user_id: '55281444'
                      nickname: 张三
                      avatar: ''
                    customer_info: null
                    lead_customer_info: null
                    file_info: null
                  - follow_up_id: 5379694081532
                    trail_id: 5379694081528
                    type: 101
                    client_id: 23412
                    create_user: 55281444
                    refer_id: 5379694081532
                    content: '本次跟进原因：XXX

                      主要沟通内容：XXX

                      其他：XX'
                    file_ids: []
                    enable_flag: 1
                    created_at: '2023-01-17 14:46:07'
                    create_time: '2023-01-17 14:46:07'
                    update_time: '2023-01-17 14:46:07'
                    company_id: 16696797769
                    customer_id:
                    - 4415640999551
                    lead_id: 0
                    lead_customer_id: []
                    opportunity_id: 0
                    delete_flag: 0
                    inquiry_id: 0
                    track_session_no: 0
                    comment_count: 0
                    company_info:
                      company_id: 16696797769
                      name: 小满的客户021
                      is_archive: 1
                    lead_info: []
                    opportunity_info: []
                    create_user_info:
                      user_id: '55281444'
                      nickname: 张三
                      avatar: ''
                    customer_info:
                    - customer_id: 4415640999551
                      name: 满021
                      email: man@mantest.com
                      tel_list: []
                      contact: []
                    lead_customer_info: null
                    file_info: null
                  - follow_up_id: 1632775077230
                    trail_id: 1632775077227
                    type: 101
                    client_id: 23412
                    create_user: 55281444
                    refer_id: 1632775077230
                    content: 电话联系
                    file_ids: []
                    enable_flag: 1
                    created_at: '2022-01-28 17:14:55'
                    create_time: '2022-01-28 05:14:55'
                    update_time: '2022-01-28 17:14:55'
                    company_id: 16696797769
                    customer_id:
                    - 16696797694
                    lead_id: 0
                    lead_customer_id: []
                    opportunity_id: 0
                    delete_flag: 0
                    inquiry_id: 0
                    track_session_no: 0
                    comment_count: 0
                    company_info:
                      company_id: 16696797769
                      name: 小满的客户021
                      is_archive: 1
                    lead_info: []
                    opportunity_info: []
                    create_user_info:
                      user_id: '55281444'
                      nickname: 张三
                      avatar: ''
                    customer_info:
                    - customer_id: 16696797694
                      name: 张先生
                      email: 99999@129.com
                      tel_list:
                      - - '355'
                        - '123456'
                      contact:
                      - type: whatsapp
                        value: 86 180 8882 2256
                    lead_customer_info: null
                    file_info: null
                  totalItem: 6
          headers: {}
          x-apifox-name: 成功
      security: []
      x-apifox-folder: 客户
      x-apifox-status: released
      x-run-in-apifox: https://open.xiaoman.cn/web/project/345096/apis/api-3478244-run
      externalDocs:
        url: https://open.xiaoman.cn/api-3478244
        description: Published operation doc (Apifox)
  /v1/company/fields:
    get:
      summary: 客户数据字典
      deprecated: false
      description: '# 字段类型有哪些

        | field_type |  |

        | --- | --- |

        | 1 | 单行文本 |

        | 2 | 多行文本 |

        | 3 | 单选，在该字段选项枚举值在返回值中的ext_info里面，可用于单据新建、编辑该字段传值 |

        | 4 | 日期，YYYY-MM-DD |

        | 5 | 数字 |

        | 6 | 图片 |

        | 7 | 多选，在该字段选项枚举值在返回值中的ext_info里面，可用于单据新建、编辑该字段传值 |

        | 8 | 附件 |

        | 9 | 关联字段 |

        | 10 | 日期时间，YYYY-MM-DD HH:mm:ss |

        | 11 | 公式 |

        | 12 | 汇总 |

        | 13 | 布尔 |

        | 17 | 状态 |

        | 18 | 阶段 |

        | 21 | 时间范围 |

        | 22 | 富文本 |

        | 23 | 引用 |


        若发现没有的字段类型可以咨询对接群，或者提客户工单。

        '
      tags:
      - s7.1
      parameters:
      - name: type
        in: query
        description: 'company=客户数据字典，customer=联系人数据字典 默认值: company'
        required: false
        example: company
        schema:
          type: string
      - name: Authorization
        in: header
        description: ''
        required: true
        example: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxMWMxMzU5NmRlMGJjYzM1MzRlYTIxMWEyMTE0MTdjODcxZjMzZGVjNjVmMzE1MDcxM2EwMTE5N2I0NGJlODY2NDM0YWFmYjczZmI0ZWIwYiIsImp0aSI6IjdhMjA3NTY5MmViNTc1ZGFlNTAyNmNhMzUwNDljYTFiNTgzNmM4MGQ3OTFhMGQzNzk5NTliMGQxODk4ZjI3YjhmYmM3OWE1NDE2NTQyMzQ1IiwiaWF0IjoxNjc1ODI0MTA5LjQ3NzIyLCJuYmYiOjE2NzU4MjQxMDkuNDc3MjIxLCJleHAiOjE2NzU4NTI5MDkuNDUwNTMxLCJzdWIiOiIiLCJzY29wZXMiOlsicHJvZHVjdCIsImNvbXBhbnkiLCJpbnZvaWNlcyIsImxlYWQiLCJvcHBvcnR1bml0eSIsInVzZXIiXX0.PvaNNsQqk6yBl1dlaEQGCWpkn8EoFzuSdkyv8RpKyV_W91-LLDq4qNpBJPW7ieA_qKV44977GIQghGd9FDjvZucY1IfQwxfpeGIztEC5mcdSItSgsCXNWTP-Pw7FX28n6qIvIfKLmm7r4NrBrYbFsLOwFaJ9v13RNFF6NhvZognYlcveVIT2vwRL48HSZUjzRqPKo93rWbEojXaqGfsc9qLptyZ1IAhJqSh6ZrEVQBe6awa-R7G4AiFiqCMXQfsuON6xWu__F51FyEzk-vr40qvmBY82SuSAGuTkUsVKXDpoZHz8ZQoY9KG822t5WMeziaGq8CW8er6A7LF0IeWUDQ
        schema:
          type: string
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                properties:
                  code:
                    type: integer
                  message:
                    type: string
                  now:
                    type: string
                  data:
                    type: array
                    items:
                      type: object
                      properties:
                        id:
                          type: string
                          description: 字段ID
                        name:
                          type: string
                          description: 字段名称
                        base:
                          type: integer
                          description: 是否系统字段，1=系统字段，0=自定义字段
                        field_type:
                          type: integer
                          description: "\t\n字段类型，0=特殊，1=短文本，2=长文本，3=下拉单选，4=日期，5=数字，6=图片，7=下拉多选，8=附件，9=引用字段，10=日期时间"
                        ext_info:
                          type: array
                          items:
                            type: string
                          description: 选项类型字段的值列表
                          nullable: true
                        require:
                          type: integer
                          description: 是否必填，1=必填，0=非必填
                        default:
                          type: string
                          description: 默认值
                        disable_flag:
                          type: integer
                        is_list:
                          type: integer
                      required:
                      - id
                      - name
                      - base
                      - field_type
                      - ext_info
                      - require
                      - default
                      - disable_flag
                      - is_list
                      x-apifox-orders:
                      - id
                      - name
                      - base
                      - field_type
                      - ext_info
                      - require
                      - default
                      - disable_flag
                      - is_list
                required:
                - code
                - message
                - now
                - data
                x-apifox-orders:
                - code
                - message
                - now
                - data
                $ref: '#/components/schemas/%E6%95%B0%E6%8D%AE%E5%AD%97%E5%85%B8%E5%93%8D%E5%BA%94'
              example:
                code: 200
                message: success
                now: '2025-03-04 17:12:05'
                data:
                - id: ''
                  name: 来源详情
                  base: 1
                  field_type: 7
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 1
                - id: origin_list
                  name: 客户来源
                  base: 1
                  field_type: 7
                  ext_info: null
                  require: 1
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: biz_type
                  name: 客户类型
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: scale_id
                  name: 规模
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: short_name
                  name: 简称
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: cus_tag
                  name: 客户标签
                  base: 1
                  field_type: 7
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: trail_status
                  name: 客户阶段
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: homepage
                  name: 公司网址
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: category_ids
                  name: 主营产品
                  base: 1
                  field_type: 7
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: product_group_ids
                  name: 产品分组
                  base: 1
                  field_type: 7
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: intention_level
                  name: 采购意向
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: annual_procurement
                  name: 年采购额
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: address
                  name: 详细地址
                  base: 1
                  field_type: 2
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: name
                  name: 公司名称
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 1
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: province
                  name: 省份
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: group_id
                  name: 客户分组
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: serial_id
                  name: 客户编号
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: fax
                  name: 传真
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: tel
                  name: 座机
                  base: 1
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: country
                  name: 国家地区
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: city
                  name: 城市
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: timezone
                  name: 时区
                  base: 1
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: remark
                  name: 公司备注
                  base: 1
                  field_type: 2
                  ext_info: null
                  require: 0
                  default: 龙琴
                  disable_flag: 0
                  is_list: 0
                - id: image_list
                  name: 公司logo
                  base: 1
                  field_type: 6
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: next_follow_up_time
                  name: 下次日程时间
                  base: 1
                  field_type: 10
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: 5200812401
                  name: 测试日期
                  base: 0
                  field_type: 4
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: 5200433878
                  name: 兴趣爱好
                  base: 0
                  field_type: 7
                  ext_info:
                  - 游泳
                  - 登山
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: 5196023966
                  name: 最新报价时间
                  base: 0
                  field_type: 4
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '5118904304'
                  name: 报价时间
                  base: 0
                  field_type: 10
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3082106516'
                  name: haodeya
                  base: 0
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3462856443'
                  name: 公司信息图片类型字段
                  base: 0
                  field_type: 6
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3266094846'
                  name: 客户自定义多行文本
                  base: 0
                  field_type: 2
                  ext_info: null
                  require: 0
                  default: '22'
                  disable_flag: 0
                  is_list: 0
                - id: '3215316242'
                  name: 导出日期字段测试
                  base: 0
                  field_type: 4
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: '3043781064'
                  name: 测试公司-tv-多行文本
                  base: 0
                  field_type: 2
                  ext_info: null
                  require: 0
                  default: '123'
                  disable_flag: 1
                  is_list: 0
                - id: '3113323380'
                  name: Product group radio
                  base: 0
                  field_type: 3
                  ext_info:
                  - 单选1
                  - 单选2
                  - add one new option
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '1887817526'
                  name: ccccc
                  base: 0
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: '1118472446'
                  name: OS Field
                  base: 0
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: 3570150046
                  name: 自定义字段0626下午
                  base: 0
                  field_type: 3
                  ext_info:
                  - 自定义字段0626下午1
                  - 自定义字段0626下午2
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: 3568031711
                  name: 中文字段5
                  base: 0
                  field_type: 2
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3043780965'
                  name: 下拉多选
                  base: 0
                  field_type: 7
                  ext_info:
                  - test
                  - 苹果
                  - 雪梨
                  - kevinAdd
                  - yang
                  - huangzhengbang
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3082106510'
                  name: 测试公司-tv-文本
                  base: 0
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: 我是必填文本默认值
                  disable_flag: 0
                  is_list: 0
                - id: 3474261902
                  name: 供应商数量
                  base: 0
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: 3472848096
                  name: 公司仓库数量
                  base: 0
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3307965519'
                  name: test客户管理
                  base: 0
                  field_type: 7
                  ext_info:
                  - '2'
                  - '3'
                  - '1'
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3082106514'
                  name: 测试公司-日期-tv
                  base: 0
                  field_type: 4
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 0
                  is_list: 0
                - id: '3113338556'
                  name: 产品多行文本
                  base: 0
                  field_type: 2
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: '3137336748'
                  name: 新老客户类型
                  base: 0
                  field_type: 7
                  ext_info:
                  - 新客户
                  - 老客户
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: '1106335125'
                  name: 自定义字段-数值
                  base: 0
                  field_type: 5
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: '1118472445'
                  name: 字段名称 - os001
                  base: 0
                  field_type: 3
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: '3117881352'
                  name: 询盘产品-测试工单
                  base: 0
                  field_type: 7
                  ext_info:
                  - 洗衣片
                  - 吸色片
                  - 留香珠
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: '3082106517'
                  name: 测试公司的下拉多选
                  base: 0
                  field_type: 7
                  ext_info:
                  - Go
                  - I...
                  - Uh...
                  - People
                  - He
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
                - id: '3025700946'
                  name: 客户老编号
                  base: 0
                  field_type: 1
                  ext_info: null
                  require: 0
                  default: 我是默认值
                  disable_flag: 1
                  is_list: 0
                - id: '3082106518'
                  name: 测试公司-tv-日期时间
                  base: 0
                  field_type: 10
                  ext_info: null
                  require: 0
                  default: ''
                  disable_flag: 1
                  is_list: 0
          headers: {}
          x-apifox-name: 成功
      security: []
      x-apifox-folder: 客户
      x-apifox-status: released
      x-run-in-apifox: https://open.xiaoman.cn/web/project/345096/apis/api-3478270-run
      externalDocs:
        url: https://open.xiaoman.cn/api-3478270
        description: Published operation doc (Apifox)
  /v1/company/pushCompanyAndCustomers:
    post:
      summary: 客户（含联系人）新增/编辑
      deprecated: false
      description: '| 异常码 | 异常消息 |异常解决方案|

        | --- | --- | --- |

        | 404 | Not Found Resource | 检查传入company_id是否有误 |

        | 404 | No Privilege | 检查传入user_id是否是私海客户的跟进人 |

        '
      tags:
      - s7.1
      parameters:
      - name: Authorization
        in: header
        description: ''
        required: true
        example: eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxMWMxMzU5NmRlMGJjYzM1MzRlYTIxMWEyMTE0MTdjODcxZjMzZGVjNjVmMzE1MDcxM2EwMTE5N2I0NGJlODY2NDM0YWFmYjczZmI0ZWIwYiIsImp0aSI6ImU4MjllNmU5N2FjOWE0ZmQxYjdmOTQ4ZmMwOTE0ZTZkMjkxZWU4Zjg5NjczYzk0NDEyMWE5NjVhNTAxZDdkMmM5NTVmZTBiMzdlMjUyM2Y4IiwiaWF0IjoxNjg2ODAyNDI1LjMwMzk3MiwibmJmIjoxNjg2ODAyNDI1LjMwMzk3MywiZXhwIjoxNjg2ODMxMjI1LjI5MzgwOSwic3ViIjoiIiwic2NvcGVzIjpbInByb2R1Y3QiLCJjb21wYW55IiwiaW52b2ljZXMiLCJsZWFkIiwib3Bwb3J0dW5pdHkiLCJ1c2VyIiwic3VwcGxpZXIiLCJ3YXJlaG91c2UiLCJyZXBvcnQiXX0.jllCo8AVbZuMumrSAHkiL7a3QBhagiHWn_CjLbGhz60WOhGQytZ5xsWZ04z34vgT1bW5LJvnpWQ90c4Tyk4smzXAL6KfabQUTl8_RAnrKpNXdxPQOuQWjqxHzNdtf8VR0TjSNw0yHVmL5MN_XoCQvl_a2PfW7MbcoUJJld7yrxMbFQhl5-ct0QfavvBNifJ-jIp_O7w9PjJ8V7FoV-OmogFhC-YwBxPZBOePVT-OoAmgLtdbWXh-PasrXvd7lusB8o7tUcDyaBpkfgOwP8L6k7oNn-OjOnR6iXQzRRvlXxIfs6v3CiV75WVBINs5lgyCQ8ZOTJbnXYBgCOW5iLDfZw
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                company_id:
                  type: integer
                  title: 公司客户ID
                  description: '编辑时需要设置

                    值来自于/v1/company/list接口'
                user_id:
                  type: integer
                  title: 跟进人
                  description: '不填则默认为创建人

                    值来自于/v1/user/list接口'
                batch_user_ids:
                  type: array
                  items:
                    type: integer
                  title: 批量新增跟进人
                  description: 'eg: [11, 22]

                    值来自于/v1/user/list接口'
                remove_user_id:
                  type: array
                  items:
                    type: integer
                  title: 删除跟进人
                  description: 'eg: [33, 44]

                    值来自于/v1/user/list接口'
                is_public:
                  type: integer
                  title: 客户类型
                  description: 私海客户is_public=0;公海客户is_public=1;默认is_public=0
                serial_id:
                  type: string
                  title: 客户编号
                  description: 可选字段,不设置默认生成
                name:
                  type: string
                  title: 公司名称
                short_name:
                  type: string
                  title: 公司简称
                country:
                  type: string
                  title: 国家/地区
                  description: 非必填,ISO两位码
                province:
                  type: string
                  title: 省
                  description: 对接需要询问对接协助开发获取省枚举
                city:
                  type: string
                  title: 市
                  description: 对接需要询问对接协助开发获取市枚举
                tel_area_code:
                  type: string
                  title: 座机区号
                tel:
                  type: string
                  title: 座机号码
                fax:
                  type: string
                  title: 传真
                group_id:
                  type: integer
                  title: 客户分组
                  description: 可选字段,从分组v1/company/fields/selector?field=group_id选择
                pool_id:
                  type: integer
                  title: 客户公海分组
                  description: 必填,不确定可设置为0,代表未分组，从v1/company/fields/selector?field=pool_id选择
                trail_status:
                  type: integer
                  title: 客户阶段
                  description: 可选字段,从v1/company/fields/selector?field=trail_status选择
                biz_type:
                  type: integer
                  title: 客户类型 值来自于/v1/company/companyEnums 接口
                  description: '可选字段

                    值来自/v1/company/companyEnums接口'
                cus_tag:
                  type: array
                  items:
                    type: integer
                  title: 客户标签 值来自于/v1/company/companyEnums 接口
                  description: '非必填

                    值来自/v1/company/companyEnums接口'
                address:
                  type: string
                  title: 客户地址
                  description: 可选字段
                remark:
                  type: string
                  title: 备注
                  description: 可选字段
                homepage:
                  type: string
                  title: 公司主页网址
                  description: 可选字段
                star:
                  type: integer
                  title: 客户星级
                  description: 可选字段，1-5之间
                intention_level:
                  type: integer
                  title: 采购意向
                  description: 0未知，1低，2中，3高
                annual_procurement:
                  type: integer
                  title: 年采购额
                  description: "0: 无采购额  \n1: 0~1千美元  \n2: 1千～5千美元  \n3: 5千～1万美元  \n4: 1万～3万美元  \n5: 3万～5万美元  \n6: 5万～10万美元  \n7: 10万～30万美元  \n8: 30万～50万美元  \n9: 50万～100万美元  \n10: 100万～500万美元  \n11: 500万美元以上  "
                timezone:
                  type: integer
                  title: 时区 值来自于/v1/company/companyEnums 接口
                  description: 非必填
                scale_id:
                  type: integer
                  title: 规模 值来自于/v1/company/companyEnums 接口
                  description: '1：少于59人,2：60-149人,3：150-499人,4：500-999人,5：1000-4999人，6: 5000人以上'
                image_list:
                  type: array
                  items:
                    type: string
                  title: 公司logo
                  description: '非必填，example: [''xx1'', ''xx2''], 需要传可访问的URL'
                next_follow_up_time:
                  type: string
                  title: 下次跟进时间
                  description: 非必填
                category_ids:
                  type: array
                  items:
                    type: array
                    items:
                      type: integer
                  title: 主营产品
                  description: '非必填，example: [[1, 2, 3], [4, 5, 6]]'
                product_group_ids:
                  type: array
                  items:
                    type: integer
                  title: 产品分组
                  description: '非必填，example: [1, 2]'
                customers:
                  type: array
                  items:
                    type: object
                    properties:
                      customer_id:
                        type: integer
                        title: 客户联系人ID
                        description: 编辑时需要设置
                      name:
                        type: string
                        title: 昵称
                      email:
                        type: string
                        title: 联系人邮箱
                      tel:
                        type: string
                        title: 电话号码
                      tel_area_code:
                        type: string
                        title: 电话号码区号
                      post_grade:
                        type: integer
[...]
