openapi: 3.0.3
info:
  title: OKKI Go Credits API
  description: OKKI Go is a B2B prospecting engine for AI agents and sales teams from Xiaoman (小满科技, an Alibaba company). Search global B2B companies, unlock company profiles and decision-maker contact emails, send batch or personalized cold outreach email (EDM), and track delivery — designed to be driven from AI agents via the provider-published OKKI Go Agent Skill. This OpenAPI was generated by API Evangelist from the provider's published API reference shipped inside the @okki-global/okki-go npm package (skill/references/api-reference.md, v1.3.4); endpoint paths, parameters, billing notes, and error semantics are taken verbatim from that document. Errors use RFC 7807 Problem Details. All authenticated endpoints share a 60 requests/minute rate limit.
  version: 1.0.0
  x-generated: '2026-07-21'
  x-method: generated
  x-source: npm @okki-global/okki-go 1.3.4 skill/references/api-reference.md
servers:
- url: https://go.okki.ai
  description: OKKI Go production
tags:
- name: Credits
paths:
  /api/v1/credit/balance:
    get:
      operationId: getCreditBalance
      tags:
      - Credits
      summary: Get search-credit and EDM quota balance
      description: Free. Returns monthly plan and add-on pack balances. Usable credits = monthlyPoints + addonPoints; monthly is consumed before add-on.
      security:
      - apiKey: []
      responses:
        '200':
          description: Balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  userId:
                    type: string
                  monthlyPoints:
                    type: integer
                    description: Remaining monthly search points (0 when expired)
                  monthlyEdm:
                    type: integer
                    description: Remaining monthly EDM quota
                  monthlyExpiresAt:
                    type: string
                    format: date-time
                  addonPoints:
                    type: integer
                    description: Add-on pack search points (never expire)
                  addonEdm:
                    type: integer
                    description: Add-on pack EDM quota (never expires)
        '401':
          $ref: '#/components/responses/Unauthorized'
        '429':
          $ref: '#/components/responses/RateLimited'
components:
  schemas:
    Problem:
      type: object
      description: RFC 7807 Problem Details error envelope.
      properties:
        type:
          type: string
        title:
          type: string
        status:
          type: integer
        detail:
          type: string
        instance:
          type: string
        code:
          type: string
  responses:
    RateLimited:
      description: 'RFC 7807 rate-limit / quota-exceeded: 60 requests/minute shared across authenticated endpoints'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
    Unauthorized:
      description: 'RFC 7807 unauthorized: API key missing, invalid, or revoked'
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/Problem'
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: Authorization
      description: 'Authorization: ApiKey sk-your-key-here — API keys issued at https://go.okki.ai after registration.'
